body { background: #3d7bca; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 15px; display: flex; }
.block-email-0 { color: #cfc1fa; font-size: 12px; margin-bottom: 5px; }
.block-filter-1 { color: #4ebc5; font-size: 15px; margin-bottom: 5px; }
.block-metrics-2 { color: #30b3d5; font-size: 19px; margin-bottom: 5px; }
.block-uploader-3 { color: #421126; font-size: 17px; margin-bottom: 5px; }
.block-order-4 { color: #8c8dcd; font-size: 21px; margin-bottom: 5px; }
.block-router-5 { color: #fbd242; font-size: 17px; margin-bottom: 5px; }